footer {
    padding: 5rem 20vw;
    background-color: #1f2b5b;
    color: whitesmoke;
    margin-top: 50px;
}

footer .footer-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

footer .footer-list-container .footer-item.wide {
    width: 50%;
    flex-grow: 0;
    flex-wrap: 0;
}

footer .footer-list-container .footer-item {
    width: 20%;
    flex-grow: 0;
    flex-wrap: 0;
}

footer .footer-list-container .footer-item .fa-solid
{
    margin-right: 10px;
}

footer .footer-list-container h5 {
    color: whitesmoke;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

footer a {
    display: block;
}

footer .footer-list-container p {

    line-height: 1.5rem;
    color: aliceblue;
}

footer a,
footer a:visited {
    color: aliceblue;
    line-height: 2rem;
}

footer .copyright {
    padding-top: 3rem;
    color: aliceblue;
    text-align: center;
    list-style: 1.5rem;
}  